<div class="container">
    
 
  <div class="row">
    <div class="col-sm-6" "col-xm-6" "col-md-6">
        
             <p id="nameimg"><%= image_tag("aboutus.png", :alt => "My Carter Cakes Logo", :size => "400x400", :class =>'nameimg', :align=> "middle") %> </p> 
    </div>
    
    <div class="col-sm-6" "col-xm-6" "col-md-6">
            <p id="story">
                <b>Angela Carter</b> is proud mother of a son name Kai and goes by what Chicagoland calls the cupcake lady! 
                Angela finished college in 2008 to work in the medical field. She found it natural to help people as she is a natural problem solver and aid. 
                After spending a bit of time in the medical field and holding administrative roles in medical facilities Angela found comfort in baking during her downtime. She began baking for her son and what grew to other family members, friends, and then complete strangers. 
                The entire process of creating Carter Cakes was quite organic. It started as a hobby, but by demand it essentially grew into a business. 
                You can now find Carter Cakes all over the Chicagoland areas from small catering events to large corporate event. Carter Cakes serves a diverse population as no event is ever too big or too small, everyone deserves a sweet treat! 
            </p><br> <br>
        </div>
        <br>
    </div>
</div>