<div class="container">
  <div class="row">

    <div class="col-sm-0">
    </div>

    <div class="col-sm-12">


      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img id="carimage" <%=image_tag( "6.png", :alt=> "Cupcake", :size => "400x200", :align=> "middle" ) %>>
          </div>

          <div class="item">
            <img id="carimage" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Strawberry_cupcakes.jpg" alt="Cupcake">
          </div>

          <div class="item">
            <img id="carimage" <%=image_tag( "13.png", :alt=> "Cupcake", :size => "400x200", :align=> "middle" ) %>>
          </div>

          <div class="item">
            <img id="carimage" <%=image_tag( "18.jpeg", :alt=> "Cupcake", :size => "400x200", :align=> "middle" ) %>>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>



  <div class="col-sm-0">
  </div>
  <br>

  <div class="row">

    <div class="col-md-6">

      <p id="homepage"><b>Hours</b></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Days</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday-Friday</td>
            <td>9 AM to 9 PM</td>

          </tr>
          <tr>
            <td>Saturday-Sunday</td>
            <td>Closed</td>

          </tr>

        </tbody>
      </table>

    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <p id="homepage"><b>Contact Us</b></p>
      <p><i id="icon2" class="fa fa-envelope fa-2x"></i> MyCarterCakes@Gmail.com</p>
      <p><i id="icon2" class="fa fa-phone fa-2x" aria-hidden="true"></i> Phone: (773) 999-3244</p>
    </div>

  </div>