 <div class="container">
    <div id="main_area">  <!-- Slider -->
       <div class="row">
          <div class="col-xs-12" id="slider">  <!-- Top part of the slider -->
              <div class="row">
                  <div class="col-sm-8" id="carousel-bounding-box">
                      <div class="carousel slide" id="myCarousel">        <!-- Carousel items -->
                            <div class="carousel-inner">
                                
                                 <div class="active item" data-slide-number="0">
                                    <img id="carimage" src="https://c1.staticflickr.com/6/5019/5453996096_a3959a35a2_b.jpg"></div>
                                
                                <div class="item" data-slide-number="1">
                                    <img id="carimage" <%=image_tag( "6.png", :alt=> "Cupcake", :size => "100x50", :align=> "middle" ) %>></div>
                                    
                                <div class="item" data-slide-number="2">
                                    <img id="carimage" src="https://pixabay.com/static/uploads/photo/2015/04/07/02/22/chocolate-cupcakes-710400_960_720.jpg"></div>
    
                                <div class="item" data-slide-number="3">
                                    <img id="carimage" <%=image_tag( "13.png", :alt=> "Cupcake", :size => "100x50", :align=> "middle" ) %>></div>
                                    
                                <div class="item" data-slide-number="4">
                                    <img id="carimage" src="https://c1.staticflickr.com/3/2018/3541821935_522aafffb0_z.jpg?zz=1"></div>
    
                                <div class="item" data-slide-number="5">
                                    <img id="carimage" <%=image_tag( "18.jpeg", :alt=> "Cupcake", :size => "100x50", :align=> "middle" ) %>></div>
    
                                <div class="item" data-slide-number="6">
                                    <img id="carimage" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Strawberry_cupcakes.jpg"></div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>                                       
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                               <span class="glyphicon glyphicon-chevron-right"></span>                                       
                            </a>                                
                      </div> <!-- End Carousel items -->
                  </div>
                   <div class="col-sm-4">
                      <br> <br>
                      <p id="homepage"><b>Hours</b></p>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Days</th>
                              <th>Hours</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Monday-Friday</td>
                              <td>9 AM to 9 PM</td>
                  
                            </tr>
                            <tr>
                              <td>Saturday-Sunday</td>
                              <td>Closed</td>
                  
                            </tr>
                  
                          </tbody>
                        </table>
                        <br> <br>
                        <p id="homepage"><b>Contact Us</b></p>
                        <p><i id="icon2" class="fa fa-envelope fa-2x"></i> MyCarterCakes@Gmail.com</p>
                        <p><i id="icon2" class="fa fa-phone fa-2x" aria-hidden="true"></i> Phone: (773) 999-3244</p>
                     
                   </div>
                    
          </div>  <!-- End Top part of the slider -->
        </div>
     </div> <!--End Slider-->
 </div>    <!--End Container-->
 
 <br>
<br>


<!--   OLD CODE -->


 