<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    </div>
    <div class="col-md-4">
           <p id="homepage1"><b>Location</b></p>
           <p id="homepage">6635 N Artesian Ave.</p> 
           <p id="homepage">Chicago Illinois 60659</p>
    </div>
    <div class="col-md-6">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.89883838808!2d-87.69340938429403!3d42.002446565601765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd1dbb91ac755%3A0x172142b43316f3be!2s6636+N+Artesian+Ave%2C+Chicago%2C+IL+60645!5e0!3m2!1sen!2sus!4v1461695827209" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
           <br>
           <br>
    </div>
    <br>
  </div> 
</div>